<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="styles/style.css" rel="stylesheet" />
        <title>{% block title %}{% endblock %} - {{ 'title.website_name'|trans }}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class=container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        {{ 'title.website_name'|trans }}
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('detailed_search') }}">{{ 'header.link.detailed_search'|trans }}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">{{ 'header.link.profile'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'header.link.logout'|trans }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'header.link.register'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'header.link.login'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </nav>
        {% block jumbotron %}{% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}
        {% endblock %}
        </body>
</html>
