{% extends 'AppBundle::base.html.twig' %}
{% form_theme searchForm 'bootstrap_3_layout.html.twig' %}

{% set page = app.request.get('page') %}
{% set search_form_id = 'search_form' %}

{% block title %}
    {{ 'title.results'|trans({'%page%': page, '%pages%': total_pages_count}) }}
{% endblock %}

{% block pagination %}
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                <li>
                    {% if page > 1 %}
                    <a href="{{ path('detailed_search', {'page': page-1}|merge(app.request.query.all)) }}">
                        {% else %}
                        <a href="#">
                            {% endif %}
                            <span>&laquo</span> {{ 'pagination.previous'|trans() }}
                        </a>
                </li>
                {% for i in page-3..page+3 %}
                    {% if i > 0 and i <= total_pages_count %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('detailed_search', {'page': i}|merge(app.request.query.all)) }}">
                            <span>{{ i }}</span>
                        </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page < total_pages_count %}
                    <a href="{{ path('detailed_search', {'page': page+1}|merge(app.request.query.all)) }}">
                        {% else %}
                        <a href="#">
                            {% endif %}
                            {{ 'pagination.next'|trans() }} <span>&raquo</span>
                        </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% set header_title = 'title.results'|trans({'%page%': page, '%pages%': total_pages_count}) %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h3>{{ header_title }}</h3>
        {% if items|length == 0 %}
            <div class="alert alert-danger">{{ 'results.error.no_results'|trans() }}</div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-9">
                            {{ block('pagination') }}
                        </div>
                        <div class="col-md-3">
                                {{ form_label(searchForm.sort, null, {'attr': {'class': 'inline-block'}}) }}
                                {{ form_widget(searchForm.sort, {'attr': {'class': 'inline-block', 'form': search_form_id}}) }}
                        </div>
                    </div>
                    {% for item in items %}
                        <div class="panel panel-default">
                            <div class="row ad-container">
                                <div class="col-md-5">
                                    <a href="{{ item.link }}" target="_blank">
                                        <img src="{{ asset(img_dir ~ '/' ~ item.image) | imagine_filter('ad_thumb') }}"
                                             class="img-responsive ad-image" />
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <a href="{{ item.link }}" target="_blank">
                                                <h3 class="ad-title"><b>{{ item.brand.name }} {{ item.model.name }}</b></h3>
                                            </a>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            {% if app.user and app.user.pinnedVehicles.contains(item) %}
                                                <button type="button" class="unpin vehicle-pin-button btn btn-default" value="{{ item.id }}">
                                                    <span class="glyphicon glyphicon-heart"></span>
                                                    <b>{{ 'results.pin.pinned'|trans() }}</b>
                                                </button>
                                            {% else %}
                                                <button type="button" class="pin vehicle-pin-button btn btn-default" value="{{ item.id }}">
                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                    {{ 'results.pin.unpinned'|trans() }}
                                                </button>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled ad-fields-list">
                                                {% if item.year is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.year'|trans() }}:
                                                        <b>{{ item.year ~ ' m.' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.engineSize is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.engine_size'|trans() }}:
                                                        <b>{{ (item.engineSize / 1000)|number_format(1, '.', '') ~ ' l.' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.bodyType.name is defined %}
                                                    <li>
                                                        {{ 'advert.field.name.body_type'|trans() }}:
                                                        <b>{{ item.bodyType.name|lower }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.fuelType.name is defined %}
                                                    <li>
                                                        {{ 'advert.field.name.fuel_type'|trans() }}:
                                                        <b>{{ item.fuelType.name|lower }}</b>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled">
                                                {% if item.power is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.power'|trans() }}:
                                                        <b>{{ item.power ~ ' kW' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.mileage is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.mileage'|trans() }}:
                                                        <b>{{ item.mileage|number_format(0, '.', ' ') ~ ' km' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.driveType is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.drive_type'|trans() }}:
                                                        <b>
                                                            {% if item.driveType == 0 %}
                                                                {{ 'advert.field.value.drive_type.manual'|trans() }}
                                                            {% elseif item.driveType == 1 %}
                                                                {{ 'advert.field.value.drive_type.auto'|trans() }}
                                                            {% endif %}
                                                        </b>
                                                    </li>
                                                {% endif %}
                                                {% if item.steeringWheel is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.steering_wheel'|trans() }}:
                                                        <b>
                                                            {% if item.steeringWheel == 0 %}
                                                                {{ 'advert.field.value.steering_wheel.left'|trans() }}
                                                            {% elseif item.steeringWheel == 1 %}
                                                                {{ 'advert.field.value.steering_wheel.right'|trans() }}
                                                            {% endif %}
                                                        </b>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 button-more-fields">
                                            <a
                                               data-toggle="collapse"
                                               data-target="#more-info-{{ loop.index }}"
                                               aria-expanded="false">
                                                {{ 'advert.button.show_more'|trans() }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row collapse" id="more-info-{{ loop.index }}">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled ad-fields-list">
                                                {% if item.doorsNumber is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.doors_number'|trans() }}:
                                                        <b>{{ item.doorsNumber }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.seatsNumber is not null %}
                                                    <li>
                                                        {{ 'advert.field.name.seats_number'|trans() }}:
                                                        <b>{{ item.seatsNumber }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.color.name is defined %}
                                                    <li>
                                                        {{ 'advert.field.name.color'|trans() }}:
                                                        <b>{{ item.color.name|lower }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.firstCountry.name is defined  %}
                                                    <li>
                                                        {{ 'advert.field.name.first_country'|trans() }}:
                                                        <b>{{ item.firstCountry.name }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.transmission.name is defined  %}
                                                    <li>
                                                        {{ 'advert.field.name.transmission'|trans() }}:
                                                        <b>{{ item.transmission.name|lower() }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.provider.name is defined  %}
                                                    <li>
                                                        {{ 'advert.field.name.provider'|trans() }}:
                                                        <b>{{ item.provider.name }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.lastAdUpdate is not null  %}
                                                    <li>
                                                        {{ 'advert.field.name.last_update'|trans() }}:
                                                        <b>{{ item.lastAdUpdate|date('Y-m-d') }}</b>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled ad-fields-list">
                                                {% if item.cliamteControl.name is defined  %}
                                                    <li>
                                                        {{ 'advert.field.name.climate_control'|trans() }}:
                                                        <b>{{ item.climateControl.name|lower() }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.defects.name is defined  %}
                                                    <li>
                                                        {{ 'advert.field.name.defects'|trans() }}:
                                                        <b>{{ item.defects.name|lower() }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.wheelsDiameter is not null  %}
                                                    <li>
                                                        {{ 'advert.field.name.wheels_diameter'|trans() }}:
                                                        <b>{{ 'R' ~ item.wheelsDiameter }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.nextCheckYear is not null  %}
                                                    <li>
                                                        {{ 'advert.field.name.next_check'|trans() }}:
                                                        <b>{{ item.nextCheckYear ~ ' m.' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.weight is not null  %}
                                                    <li>
                                                        {{ 'advert.field.name.weight'|trans() }}:
                                                        <b>{{ item.weight ~ ' kg' }}</b>
                                                    </li>
                                                {% endif %}
                                                {% if item.gearsNumber is not null  %}
                                                    <li>
                                                        {{ 'advert.field.name.gears_number'|trans() }}:
                                                        <b>{{ item.gearsNumber }}</b>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <h3 class="ad-price">{{ item.price|number_format(0, '.', ' ') ~ ' €'}}</h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <h4 class="ad-location">{{ item.city.name }}, {{ item.country.name }}</h4>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <a href="{{ item.link }}" class="btn btn-primary" target="_blank">
                                                {{ 'advert.button.view_ad'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ block('pagination') }}
                </div>
            </div>
           {% endif %}
        </div>
        <div class="col-md-3">
            <h4>{{ 'form.header.update_form'|trans() }}</h4>
            {{ form_start(searchForm, { attr: {novalidate: 'novalidate', id: search_form_id} }) }}
            {{ form_row(searchForm.brand) }}
            {{ form_row(searchForm.model) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.price_from) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.price_to) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.year_from) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.year_to) }}
                </div>
            </div>
            {{ form_row(searchForm.fuel_type) }}
            {{ form_row(searchForm.country) }}
            {{ form_row(searchForm.city) }}
            {{ form_row(searchForm.steering_wheel) }}
            {{ form_rest(searchForm) }}
            <div class="row text-center">
                <button type="submit" class="btn btn-primary btn-lg">{{ 'form.button.update'|trans() }}</button>
            </div>
            {{ form_end(searchForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include('@App/default/search_form.html.twig') %}
    <script src="{{ asset('js/search_form_results.js') }}"></script>
    <script>
        // expand fields in results
        $('.button-more-fields a').click(function () {
            var btnText =
                ($(this).text().trim() === "{{ 'advert.button.show_more'|trans() }}")
                ? "{{ 'advert.button.show_less'|trans() }}"
                : "{{ 'advert.button.show_more'|trans() }}"
            console.log($(this).text(), btnText);
            $(this).text(btnText);
        });
    </script>
{% endblock %}

