{% extends 'AppBundle::base.html.twig' %}
{% form_theme searchForm 'bootstrap_3_layout.html.twig' %}

{% set page = app.request.get('page') %}
{% set search_form_id = 'search_form' %}

{% block title %}
    {{ 'title.results'|trans({'%page%': page, '%pages%': total_pages_count}) }}
{% endblock %}

{% block pagination %}
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                <li>
                    {% if page > 1 %}
                    <a href="{{ path('detailed_search', {'page': page-1}|merge(app.request.query.all)) }}">
                        {% else %}
                        <a href="#">
                            {% endif %}
                            <span>&laquo</span> {{ 'pagination.previous'|trans() }}
                        </a>
                </li>
                {% for i in page-3..page+3 %}
                    {% if i > 0 and i <= total_pages_count %}
                        {% if i == page %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('detailed_search', {'page': i}|merge(app.request.query.all)) }}">
                            <span>{{ i }}</span>
                        </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page < total_pages_count %}
                    <a href="{{ path('detailed_search', {'page': page+1}|merge(app.request.query.all)) }}">
                        {% else %}
                        <a href="#">
                            {% endif %}
                            {{ 'pagination.next'|trans() }} <span>&raquo</span>
                        </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% set header_title = 'title.results'|trans({'%page%': page, '%pages%': total_pages_count}) %}

{% block body %}
    <div class="row">
        <h3>{{ header_title }}</h3>
        <div class="col-md-8">
        {% if items|length == 0 %}
            <div class="alert alert-danger">{{ 'results.error.no_results'|trans() }}</div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            {{ block('pagination') }}
                        </div>
                        <div class="col-md-3">
                                {{ form_label(searchForm.sort, null, {'attr': {'class': 'inline-block'}}) }}
                                {{ form_widget(searchForm.sort, {'attr': {'class': 'inline-block', 'form': search_form_id}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for item in items %}
                                <div class="panel panel-default">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="#" />
                                            <p>{{ item.provider }}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <a href="{{ item.link }}" target="_blank">
                                                        <h3><b>{{ item.brand.name }} {{ item.model.name }}</b></h3>
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="small">
                                                        Id: {{ item.providerId}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p>
                                                        Metai: {{ item.year }}
                                                    </p>
                                                    <p>
                                                        Darbinis tūris: {{ item.engineSize }}
                                                    </p>
                                                    <p>
                                                        Kėbulo tipas: {{ item.bodyType.name }}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>
                                                        Galia: {{ item.power }}
                                                    </p>
                                                    <p>
                                                        Kuro tipas: {{ item.fuelType.name }}
                                                    </p>
                                                    <p>
                                                        Rida: {{ item.mileage }}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>
                                                        Spalva: {{ item.color.name }}
                                                    </p>
                                                    <p>
                                                        Pavarų dėžė: {{ item.driveType }}
                                                    </p>
                                                    <p>
                                                        Vairo padėtis: {% if item.steeringWheel == 0 %}kairėje{% else %}dešinėje{% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#more-info-{{ loop.index }}"
                                                    aria-expanded="false">Daugiau</button>
                                            <div class="row small collapse" id="more-info-{{ loop.index }}">
                                                <p><b>Kita informacija:</b></p>
                                                <p>Durų skaičius: {{ item.doorsNumber }}</p>
                                                <p>Sėdimų vietų skaičius: {{ item.seatsNumber }}</p>
                                                <p>Transmisija: {{ item.transmission }}</p>
                                                <p>Klimato kontrolė: {{ item.climateControl }}</p>
                                                <p>Defektai: {{ item.defects }}</p>
                                                <p>Padangų diametras: {{ item.wheelsDiameter }}</p>
                                                <p>Masė: {{ item.weight }}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3 class="auto-price">{{ item.price }}€</h3>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4>{{ item.city.name }}, {{ item.country.name }}</h4>
                                                </div>
                                                <div class="col-md-4">
                                                    {% if app.user and app.user.pinnedVehicles.contains(item) %}
                                                        <button type="button" class="unpin vehicle-pin-button btn btn-default" value="{{ item.id }}">
                                                            <b>{{ 'results.pin.pinned'|trans() }}</b>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="pin vehicle-pin-button btn btn-default" value="{{ item.id }}">
                                                            {{ 'results.pin.unpinned'|trans() }}
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {{ block('pagination') }}
                </div>
            </div>
           {% endif %}
        </div>
        <div class="col-md-4">
            <h4>{{ 'form.header.update_form'|trans() }}</h4>
            {{ form_start(searchForm, { attr: {novalidate: 'novalidate', id: search_form_id} }) }}
            {{ form_row(searchForm.brand) }}
            {{ form_row(searchForm.model) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.price_from) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.price_to) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.year_from) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.year_to) }}
                </div>
            </div>
            {{ form_row(searchForm.fuel_type) }}
            {{ form_row(searchForm.country) }}
            {{ form_row(searchForm.city) }}
            {{ form_row(searchForm.steering_wheel) }}
            <!--{{ form_rest(searchForm) }}-->
            <div class="row text-center">
                <button type="submit" class="btn btn-primary btn-lg">{{ 'form.button.update'|trans() }}</button>
            </div>
            {{ form_end(searchForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include('@App/default/search_form.html.twig') %}
    <script src="{{ asset('js/search_form_results.js') }}"></script>
{% endblock %}

